{% extends '::ascultaici.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1>

    <img src="{{ entity.url.thumbnailUrl }}" alt="{{ entity.title }}">

    <ul class="record_actions">
    <li>
        <a href="{{ path('ascultaici_playlist_show', { 'slug': entity.playlist.slug }) }}">
            Back to playlist {{ entity.playlist.slug }}
        </a>
    </li>
    <li>
        <a href="{{ path('ascultaici_track_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
