{% extends '::ascultaici.html.twig' %}

{% block body -%}
    <h2>{{ entity.title }}</h2>

    <th>Created at</th>
    <td>{{ entity.createdAt|date('Y-m-d H:i') }}</td>

    <ul class="record_actions">
        <li><a href="{{ path('ascultaici_playlist') }}">Back to the list</a></li>
        <li><a href="{{ path('ascultaici_playlist_edit', { 'slug': entity.slug }) }}">Edit</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
